
html{
    background-color: rgb(205, 230, 221);
}

body{
    text-align: center;
    font-family:Quantico, sans-serif

}

h1 {
    color:rgb(182, 106, 169);
}
#subtitle{
  font-weight:bolder;  
}

p{
    color:grey;
}

small {
    color:rgb(182, 106, 169);
}