/* Reset / base styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  color: rgb(56, 24, 51);
  background: #3aff8b;
}

mark{
  background-color: #fff176;
  color: rgb(56, 24, 51);
  font-weight: bold;}

  .flex {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width:1200px;
  margin: 0 auto;

}

body {
  min-height: 100vh;
  font-family: "Courier New", Courier, monospace; 
  background-color: #cbe1d2;
  background-image: url(https://unknownentity1806.page/assets/images/background_cityscape.png);
  background-attachment: fixed;
  background-size: cover;
}

/* Grid container */
.container {
  display: grid;
  grid-template-columns: 1fr 2fr; /* nav | main */
  grid-template-rows: auto 1fr auto; /* header | content | footer */
  grid-template-areas:
    "header header"
    "nav    main"
    "footer footer";
  min-height: 100vh;
 
}

/* Grid areas */
header {
  grid-area: header;
  padding: 1rem;
  background: #6f5686;
  background-image: url("https://unknownentity1806.page/assets/images/header.png");
  background-position: 100%;
  background-size: cover;
  color: #fff;
  min-height: 360px;
  border: solid #3aff8b 3px;
  border-radius: 10px;
  margin: 10px;
}

main {
  grid-area: main;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.8);
  overflow: auto;
  border: solid 3px #6f5686;
  border-radius: 10px;
  margin: 10px;
  z-index: 0;
}

footer {
  grid-area: footer;
  padding: 1rem;
  background: #6f5686;
  color: #fff;
  text-align: center;
  font-size: x-small;
  a {
    color: #c1f8ee;
  }
}

/* now the individual style elements in main */
h1 {
  color: #6f5686;
  padding-bottom: 15px;
  font-family: "VT323", monospace;
}
h2 {
  color: #e856ad;
  padding-bottom: 15px;
  font-family: "Silkscreen", sans-serif;
}
h3 {
  color: #6fb88d;
}

h4{
  Color:#6f5686;
  font-family: "silkscreen", sans-serif;
  padding-top: 15px;
  padding-bottom: 5px;
}

/* Rounded border */
hr.rounded {
  border-top: 8px solid #ccc;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}
video {
  border: #b45b8d dashed 2px;
  border-radius: 10px;
  margin: 10px 0;
}

 .blink {
        animation: blink 0.7s infinite;
      }

      @keyframes blink {
        0%, 49% {
          opacity: 1;
        }
        50%, 100% {
          opacity: 0;
        }
      }

/* begin p styles*/
p {
  padding: 10px 5px 5px 5px;
  color: rgb(56, 24, 51);
}
/* p is centered in parent and text is centered*/
.center {
  margin: 0 auto;
  text-align: center;
}
/* p fills 80% of parent */
.width80 {
  max-width: 80%;
}
/* p fills 60% of parent */
.width60 {
  max-width: 60%;
}
em {
  font-family: "Silkscreen", sans-serif;
  font-size: smaller;
  color: #e856ad;
}

main a {
  color: #e856ad;
  text-decoration: none;
  font-weight: bold;
}
main a:hover {
  text-decoration: underline;
}
/* article styling section */
content {
  display: flex;
  flex-flow: row wrap;
  max-width: 100vw;
  width: 100%;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  padding: 1%;
  gap: 15px;
  margin: 0 auto;
}
article {
  background: white;
  color: black;
  outline: #b45b8d dashed 2px;
  border-radius: 5px;
  padding: 20px;
  margin: 15px;
  max-width: 100%;
  min-width: 200px;
  flex: 1 1 100%;
  position: relative;
}
.small {
  flex: 1 2 40%;
  min-width: 250px;
}
article.center {
  text-align: center;
  margin: 15px auto;
}
article.shadow {
  box-shadow: 10px 10px #a697bf;
  margin-bottom: 30px;
  max-width: 100%;
}

/* LIST section */
ul {
  padding-left: 20px;
  font-weight: bold;
}
li {
  font-weight: 400;
}

/* navigation to the top of the page */
.pagenav {
  font-weight: bolder;
  max-width: fit-content;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* navigation section */
nav {
  grid-area: nav;
  padding: 1rem;
  background: none;
  z-index: 1000;

  /* Sticky behavior */
  position: sticky;
  top: 0;
  height: fit-content;
}

.aside {
  background: #3aff8b;
  border: #c1f8ee solid 3px;
  border-radius: 10px;
  text-align: center;
}

nav ul {
  list-style: none;
  font-weight: 200;
  padding-left: 0;
}

nav li {
  position: relative;
}

nav a {
  display: block;
  padding: 0.75rem;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav a:hover {
  background: #ccc;
}

/* Dropdown */
nav ul ul {
  display: none;
  position: absolute;
  left: 100%; /* dropdown opens right */
  top: 0;
  background: #ddd;
  min-width: 180px;
  z-index: 1000;
}

nav li:hover > ul {
  display: block;
}

/*blog section in main*/
[id^="link"] {
  display: none;
}
[id^="link"]:target {
  display: block;
}
/* button styles */
.btn {
  display: inline-block;
  width: auto;
  text-decoration: none;
  padding: 5px;
  line-height: 1;
  border: 1px solid rgba(0, 0, 0, 0.4);
  color: #6fb88d;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: inset 2px 2px 0px 0px rgba(255 255 255 / 20%),
    inset -2px -2px 0px 0px rgb(0 0 0 / 10%);
}

.btn:active {
  box-shadow: inset -2px -2px 0px 0px rgba(255 255 255 / 20%),
    inset 2px 2px 0px 0px rgba(0 0 0 / 10%);
}

/*scrolling window in main*/
.window {
  max-height: 200px;
  max-width: 90%;
  overflow: auto;
  border: solid 3px #ccc;
  border-radius: 10px;
  margin: 0 auto; /* this centers it*/
  padding: 10px;
  background-color: #ffffff;
  .window-title {
    background: #ccc;
    padding: 5px;
    font-family: "VT323", monospace;
    text-align: center;
    position: sticky;
    top: 0;
    border: solid 2px #ccc;
    color: rgb(56, 24, 51);
  }
  p {
    text-align: justify;
  }
}

/*changelog window stuff */
.changelog {
  background: none;
  max-width: 80%;
  margin: 0 auto;
  position: relative;
  padding-top: 10px;
  max-height: 150px;
  overflow: auto;
  border-radius: 10px;

  .changelog-title {
    background: #ccc;
    max-height: fit-content;
    border: solid 2px grey;
    position: sticky;
    top: 0;
    color: rgb(56, 24, 51);
    font-family: "VT323", monospace;
    padding: 10px;
  }
  .changelog-body {
    background: #685476;
    min-height: fit-content;
    border: solid 2px grey;
    border-top: 0px;
    font-size: smaller;
    p {
      color: #3aff8b;
    }
  }
  .dot {
    height: 12px;
    width: 12px;
    background-color: darkgrey;
    border-radius: 50%;
    display: inline-block;
  }
  .a {
    background-color: #b45b8d;
  }
  .b {
    background-color: #a697bf;
  }
  .c {
    background-color: #6fb88d;
  }
  .title {
    padding-left: 20px;
    text-transform: uppercase;
  }
}

/* newswindow stuff */
.news {
  background: none;
  margin: 0 auto;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;

  max-height: 150px;
  overflow: auto;

  .news-title {
    background: #ccc;
    max-height: fit-content;
    border: solid 2px grey;
    position: sticky;
    top: 0;
    color: rgb(56, 24, 51);
    font-family: "VT323", monospace;
  }
  .dot {
    height: 12px;
    width: 12px;
    background-color: darkgrey;
    border-radius: 50%;
    display: inline-block;
  }
  .a {
    background-color: #b45b8d;
  }
  .b {
    background-color: #a697bf;
  }
  .c {
    background-color: #6fb88d;
  }
  .title {
    padding-left: 20px;
    text-transform: uppercase;
  }
  .news-body {
    background: #685476;
    min-height: fit-content;
    border: solid 2px grey;
    border-top: 0px;
    overflow: hidden;
    font-size: smaller;
    p {
      color: #3aff8b;
      margin: 0;
      white-space: nowrap;
      animation: scroll 20s linear infinite;
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/*  END of newswindow stuff */

/*  START of neighborhood buttons grid gallery stuff */

  .buttons-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(88px, 1fr));
            gap: 15px;
            margin-top: 20px;
        }
        
        .button-item {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .button-item img {
            width: 88px;
            height: 31px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }
/*  END of neighborhood buttons grid gallery stuff */

/*  START OF PORTFOLIO GALLERY STUFF */
.image-button-container {
  max-width: 100%;
  margin: 20px auto;
  padding: 20px;
}

.image-button {
  position: relative;
  width: 40%;
  float: left;
  margin-left: 10px;
}

.image-button img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

/* Style the button and place it in the middle of the container/image */
.image-button .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ccc;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  a {
    color: #6f5686;
  }
}

.image-button .btn:hover {
  background-color: #3aff8b;
}

 .gallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
      }

      .thumbnail {
        cursor: pointer;
        overflow: hidden;
        border-radius: 8px;
        transition: transform 0.3s ease;
      }

      .thumbnail:hover {
        transform: scale(1.05);
      }

      .thumbnail img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        display: block;
      }

      .modal {
        display: none;
        position: fixed;
        z-index: 10000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
      }

      .modal.active {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: scroll
      }

      .modal-content {
        position: relative;
        max-width: 80%;
        max-height: 80%;
      }

      .modal-content img {
        width: 800px;
        height: auto;
        border-radius: 8px;
  
      }

      .close {
        position: absolute;
        top: 20px;
        right: 40px;
        font-size: 32px;
        font-weight: bold;
        color: white;
        cursor: pointer;
      }

      .close:hover {
        color: #ccc;
      }

      .modal-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
      }

      .modal-description {
        color: white;
        font-size: 1rem;
        max-width: 80%;
        text-align: center;
      }

      .thumbnail-description {
        margin-top: 0.5rem;
        font-size: 0.9rem;
        color: #666;
        font-style: italic;
      }

/* END of gallery and portfolio stuff */
